[run]
# Packages or directories to measure
source =
    draftable

# File name patterns to exclude
omit =
   */commands/*.py
   */test_*.py

# Measure branch coverage
branch = True

[report]
# Show line numbers of statements missing coverage
show_missing = True
