[flake8]
# Glob patterns of paths to exclude from checks
exclude =
    # Git repository
    .git,
    # rope metadata
    .ropeproject,
    # Compiled Python code
    __pycache__

# Checks to ignore
ignore =
    # Whitespace before ':'
    # Black compatibility
    E203,
    # Line break occurred before a binary operator
    # Black compatibility
    W503

# Glob patterns of files to exclude from specific checks
per-file-ignores =
    # Module imported but unused
    __init__.py:F401

# Maximum McCabe complexity
max-complexity = 25

# Maximum line length
max-line-length = 88
