[flake8]
# Glob patterns of paths to exclude from checks
exclude =
    # Git repository
    .git,
    # rope metadata
    .ropeproject,
    # Compiled Python code
    __pycache__

# Checks to ignore
ignore =
    # Whitespace before ':'
    # Black compatibility
    E203
    # Line break occurred before a binary operator
    # Black compatibility
    W503

# Maximum McCabe complexity
max-complexity = 25

# Maximum line length
max-line-length = 88
