[flake8]
# Glob patterns of paths to exclude from checks
exclude =
    # Git repository
    .git,
    # rope metadata
    .ropeproject,
    # Compiled Python code
    __pycache__

# Checks to ignore
ignore =
    # Line break occurred before a binary operator
    # Superseded by and mutually exclusive with W504
    W503

# Maximum McCabe complexity
max-complexity = 25

# Maximum line length
max-line-length = 119
