# macOS
._*
.AppleDouble
.DS_Store
.LSOverride
# Icon must end with two carriage returns (\r)
Icon

# Windows
[Dd]esktop.ini
ehthumbs.db
Thumbs.db

# Temporary
*~
*.bak
*.tmp
*.temp
tmp/
temp/

# Logs
*.log
logs/

# Build
*.egg
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/

# Python
*.py[cod]
__pycache__/
venv/

# Rope
.ropeproject/

# Testing
.coverage
.pytest_cache/
.tox/
htmlcov/

# Vim
.netrwhist
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
