# Explicitly include some important non-package files
include LICENSE
include pyproject.toml
include README.md

# Exclude all test files from the source distribution
#
# Unfortunately, this doesn't work for the wheel distribution.
global-exclude test_*.py
