# Including files in source distributions with MANIFEST.in
# https://packaging.python.org/guides/using-manifest-in/

# Exclude development files
exclude .* tox.ini
recursive-exclude .idea *
recursive-exclude .vscode *

# Exclude all test files from the source distribution
#
# Unfortunately, this doesn't work for the wheel distribution.
global-exclude test_*.py
prune example
prune test-files

# Explicitly include some important non-Python files
include CHANGELOG.md
include VERSION

# Automatically included by recent setuptools releases
include LICENSE
include README.md
include pyproject.toml
